@model Delivery.Web.Models.OrderViewModel
@{
    ViewData["Title"] = "Create";
}

<div asp-validation-summary="ModelOnly"></div>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                <h1>Создание заказа</h1> <br/>
                <div class="mb-3">
                    <label class="form-label">Город отправителя</label>
                    <input asp-for="SendersCity" type="text" class="form-control"/>
                    <span asp-validation-for="SendersCity" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Адрес отправителя</label>
                    <input asp-for="SendersAddress" type="text" class="form-control"/>
                    <span asp-validation-for="SendersAddress" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Город получателя</label>
                    <input asp-for="RecipientCity" type="text" class="form-control"/>
                    <span asp-validation-for="RecipientCity" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Адрес получателя</label>
                    <input asp-for="RecipientAddress" type="text" class="form-control"/>
                    <span asp-validation-for="RecipientAddress" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Вес груза</label>
                    <input asp-for="CargoWeight" type="number" class="form-control"/>
                    <span asp-validation-for="CargoWeight" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">Дата забора груза</label>
                    <input asp-for="DatePickup" type="date" class="form-control"/>
                    <span asp-validation-for="DatePickup" class="text-danger"></span>
                </div>                
                <div>
                    <button type="submit" class="btn btn-primary">Добавить</button>
                    <a class="btn btn-danger" asp-action="Index">Вернуться</a>
                </div>
            </form>
        </div>
    </div>
</div>

