@model Delivery.Web.Models.OrderViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-md-6 offset-md-3">
            <form method="POST">
                <h2>Редактирование заказа</h2> <br />
                <div class="mb-3">
                    <label class="form-label">Город отправителя</label>
                    <input asp-for="SendersCity" type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Адрес отправителя</label>
                    <input asp-for="SendersAddress" type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Город получателя</label>
                    <input asp-for="RecipientCity" type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Адрес получателя</label>
                    <input asp-for="RecipientAddress" type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Вес груза</label>
                    <input asp-for="CargoWeight" type="number" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Дата забора груза</label>
                    <input asp-for="DatePickup" type="date" class="form-control" />
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a class="btn btn-danger" asp-action="Index">Вернуться</a>
                </div>
            </form>
        </div>
    </div>
</div>

